absl-py==0.9.0
astor==0.8.1
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
Cython==0.29.20
future==0.17.1
futures==3.1.1
gast==0.3.3
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
idna==2.9
importlib-metadata==1.6.1
imutils==0.5.3
joblib==0.15.1
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-resnet @ git+https://github.com/broadinstitute/keras-resnet@898a1ee417e940ff12bf73ad44c2aae88501771f
keras-retinanet==0.4.1
Markdown==3.2.2
mock==4.0.2
numpy==1.22.0
opt-einsum==3.2.1
pbr==5.4.5
Pillow==7.1.2
portpicker==1.3.1
protobuf==3.12.2
psutil==5.7.0
py-cpuinfo==6.0.0
pybind11==2.5.0
PyYAML==5.3.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
soupsieve==2.0.1
tensorboard==1.15.0
tensorflow==1.15.2+nv20.4
tensorflow-estimator==1.15.1
termcolor==1.1.0
testresources==2.0.1
threadpoolctl==2.1.0
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
